body {
    background-color: #1A1A1D;
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
}

.color {
    color: #C3073F;
}

.box {
    display: flex;
    margin: 5%;
}

p {
    text-align: justify;
    margin-bottom: 5%;
}

.text {
    width: 80%;

}


.link {
    text-decoration: none;
    background-image: linear-gradient(#6F2232, #950740);
    color: white;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    
    }
.image {
    margin: 5%;
}

.box-half {
    
    display: flex;
    margin: 5%;
    
    
}


.ex-item {
    text-align: center;
    width: 50%;
    border: 5px solid silver;
    padding: 3%;
    margin: 5%;
    
    
    border-right: 15px solid #C3073F;
}

footer {
    text-align: center;
}
.ex-item img {
    width: 80%;
    
}

